/node_modules
/public/hot
/public/storage
/storage/*.key
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/static/common
/static/plugins
/.tags
/.tags_sorted_by_file
/.env
/.htaccess
/vendor/composer
/vendor/autoload.php