/node_modules
/public/hot
/public/storage
/storage/*.key
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/static/common
/public/static/plugins
/public/mix-manifest.json
/.tags
/.tags_sorted_by_file
/.env
.env.backup
/.htaccess
/vendor/composer
/vendor/autoload.php
/laravel-echo-server.lock
.phpunit.result.cache
