<IfModule mod_rewrite.c>
	<IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
	</IfModule>

	RewriteEngine On
	RewriteBase /projects/base/

	# Handle Authorization Header
	RewriteCond %{HTTP:Authorization} .
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

	# 304
	RewriteRule ^(\.env|\.git|artisan|go)$ - [F]

	RewriteRule ^static/(.*)$ public/$0 [L]
	RewriteRule ^plugins/(.*)$ public/$0 [L]

	# Redirect Trailing Slashes If Not A Folder...
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} (.+)/$
	RewriteRule ^ %1 [L,R=301]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [L]

</IfModule>
